
/* RESET */
/* ----------------------------------------- */

/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}

/* Global reset-RESET */
/* The below restores some sensible defaults */
strong { font-weight: bold }
em { font-style: italic }
a img { border:none } /* Gets rid of IE's blue borders */
body{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	font-weight: bold;
	color: #3d3d3d;
	font-size: 40px;
	margin-bottom: 20px;
}
.modalwrap{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	background: #fff;
	text-align: left;
	padding: 10px 30px 10px 30px;
}
.modalwrap form{
	font-weight: bold;
	font-size: 12px;
	color: #3d3d3d;
}
form input{
	font-size: 18px;
	padding: 7px 2px 7px 2px;
	width: 175px;
	margin-right: 5px;
}
label{
	width: 185px;
	display: inline-block;
}
input.login{
	background: url(http://sparkframe.com/application/modules/poll_module/css/images/login-trans.png) no-repeat;
	width: 130px;
	height: 40px;
	border: 0px;
	cursor: pointer;
}
input.login:hover{
	background: url(http://sparkframe.com/application/modules/poll_module/css/images/login-hover-trans.png) no-repeat;
}
p{
	margin-bottom: 5px;
	color: red;
	font-size: 12px;
}
